@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');
.form{
  width: 30%;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 35%;
}
.my-form{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
body{
  background-color: black;
  font-family: 'Poppins', sans-serif;
}
input{
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 10px;
}
.btn{
  padding: 1rem;
  background-color: aliceblue;
  font-size: 16px;
}
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace; */

