
.card-note{
    width: 20rem;
    background-color: black;
    color: white;
    height: 15rem;
    padding: 1rem;
    border-radius: 15px 15px 15px 15px;
}
.all-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-top: 3rem;

}
.card-top{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}